:root {
  --powder-blue: #b8d8d8ff;
  --cadet-blue: #c8c8c8;
  --deep-space-sparkle: #4f6367;
  --beige: #eef5dbff;
  --orange-red-crayola: #fe5f55ff;
  --golden: #d5bb64;
}

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  text-align: center;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav a {
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  height: 100%;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

.link {
  color: var(--cadet-blue);
}

.link-active {
  color: var(--beige);
}

.link:hover,
.icon:hover,
.button:hover,
a:hover {
  color: var(--golden);
}

.button:hover {
  background-color: var(--cadet-blue);
}

.main {
  width: 100%;
  flex-grow: 1;
}

.image-bar {
  color: var(--beige);
  position: relative;
  top: 105%;
  right: 24px;
  /* font-size: 8px; */
  background-color: none;
}

.me {
  border-radius: 50%;
  box-shadow: 0 0 24px 24px var(--cadet-blue);
  margin-left: 1.8rem;
}

.footer {
  width: 100%;
  height: 2.5rem;
}

@media screen and (max-width: 600px) {
  .nav {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
